* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(45, 47, 45, 0.738);
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(45, 47, 45, 0.738);
    font-size: 10vmin;
    color: rgb(218, 33, 33);
    border: none;
    background-color: azure;
}

#reset {
    padding: 1rem;
    font-size: 1.35rem;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(15, 12, 21);
    color: azure;
    margin-bottom: 10vmin;
}

#msg {
    font-size: 8vmin;
    color: antiquewhite;
}

#newbtn {
    padding: 1rem;
    font-size: 1.35rem;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(15, 12, 21);
    color: azure;
    
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

}

.hide {
    display: none;
}
